body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ddd;
}

@media (hover: hover) {
    .tooltip {
        display: none;
    }

    h1:hover .tooltip {
        display: inline-block;
    }
}

@media (pointer: coarse) {
    button {
        font-size: x-large;
    }
}
